@import url("https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap");
html {
  font-size: 16;
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-itim: Itim;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xl: 1.25rem;
  --font-size-9xl: 1.75rem;
  --font-size-5xl: 1.5rem;
  --font-size-base: 1rem;

  /* Colors */
  --color-white: #fff;
  --color-darkolivegreen-100: #2f4620;
  --color-black: #000;

  /* Gaps */
  --gap-9xl: 1.75rem;

  /* Paddings */
  --padding-2xl: 1.31rem;

  /* border radiuses */
  --br-5xs: 8px;
  --br-xs: 12px;
}
